* {
    outline: 0px solid red;
}

@font-face {
    font-family: my-cool-font;
    src: url(Norse-Bold.otf);
}

a {
    color: white;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.left, .right {
    height: 100vh;
}

.left {
    width: 37%;
    min-width: 300px;
    background-image: url("leaves.jpg");
    background-size: cover;
}

.right {
    width: 63%;
    display: flex;
    flex-direction: column;
}

.title-box {
    height: 115px;
    width: 37%;
    min-width: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.637);
    top: 175px;
}

.odin-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: my-cool-font;
    color: white;
    font-size: 75px;
    height: 100%;
}

.left-footer {
    position: absolute;
    bottom: 8px;
    color: white;
    font-family: sans-serif;
    font-size: small;
    width: 37%;
    text-align: center;
}

.right-top {
    height: 250px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.right-header {
    position: relative;
    left: 40px;
    width: 490px;
}

.right-center {
    min-height: 250px;
    min-width: 650px;
    box-shadow: 5px 3px 10px #888888;
    font-family: sans-serif;
    padding-left: 40px;
}

.inputs {
    display: flex;
    flex-direction: row;
    height: 60%;
    flex-wrap: wrap;
}

select {
    width: 50px;
}

.input {
    width: 300px;
    height: 15%;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    padding-left: 0px;
}

input {
    width: 200px;
    border: 2px solid #E5E7EB;
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
}

input:focus {
    border: 1px solid rgb(71, 71, 179);
    box-shadow: 3px 3px 10px #888888;
}

.right-bot {
    height: 34%;
}

.login {
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 30px;
    font-weight: 600;
}

button {
    color: white;
    background-color: #596D48;
    width: 200px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    margin: 30px;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}